/** @format */

html {
  scroll-behavior: smooth;
}
header {
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  background-image: url(Images/Head.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  justify-content: center;
  color: white;
  padding: 0px;
  margin: 0;
  width: 99.5%;
  height: 100%;
  position: relative;
  display: block;
}

.toggle {
  padding: 0;
  margin: 0;
  position: relative;
  left: 40%;
  width: 20%;
  height: 20vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  background-image: url(Images/sun.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
}
#check {
  display: none;
}
.button::before {
  transition: 0.2s;
}
input:checked + .button {
  background-image: url(Images/moon.png);
}

input:checked + .button::before {
  transform: translateX(-50px);
}
.container {
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.text {
  background: linear-gradient(white 55%, black);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: "Times New Roman", Times, serif;
  padding: 0;
  margin: 0;
  display: inline-block;
  border-right: 5px solid;
  width: 29%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(19), cursor 0.6s step-end infinite alternate;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
.navbar {
  background-color: transparent;
  color: black;
}
.navbar ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 0px;
  display: inline-block;
  text-align: center;
}
#About {
  color: var(--textclr);
  border-radius: 5px;
  background-image: linear-gradient(black, hsla(0, 0%, 0%, 0.527));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: bisque;
  padding: 0px;
  animation: slideright;
  animation-duration: 10s;
  animation-delay: 2s;
  width: 100%;
}
#Contact {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 0;
  margin: 0;
  color: var(--textclr);
  border-radius: 5px;
  background-image: linear-gradient(black, hsla(0, 0%, 0%, 0.527));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: bisque;
  display: inline-block;
  animation: slideup;
  animation-duration: 10s;
  animation-delay: 2s;
}
@keyframes slideright {
  1% {
    transform: translateX(-1200px);
  }
}
.ImageGallery a {
  color: white;
  text-decoration: none;
}
.ImageGallery {
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(to right, black, hsla(0, 0%, 0%, 0.527));
  animation: slideleft;
  animation-duration: 10s;
  animation-delay: 2s;
}
@keyframes slideleft {
  1% {
    transform: translateX(1200px);
  }
}
@keyframes slideup {
  1% {
    transform: translateY(1200px);
  }
}
.Content {
  width: 20%;
  padding: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  position: relative;
  left: 20px;
  border-radius: 15px;
  font-size: 30px;
}
#AI {
  background-image: url(Images/AI.jpg);
  font-size: 1.2rem;
}
#Car {
  background-image: url(Images/Car.jpg);
  font-size: 1.2rem;
}
#Phone {
  background-image: url(Images/Phone.jpg);
  font-size: 1.2rem;
}
#Flower {
  background-image: url(Images/flower.jpg);
  font-size: 1.2rem;
}
p {
  font-size: 30px;
  color: var(--textclr);
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
body {
  background-image: linear-gradient(
    black,
    hsla(0, 0%, 0%, 0.527)
  ); /*Changes based on the selected theme*/
  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

#Content {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  background-image: url(Images/AI.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  border-radius: 20px;
  margin: 5px;
  font-size: 25px;
  color: whitesmoke;
  animation: slideright;
  animation-duration: 10s;
  animation-delay: 2s;
}
.hero {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
form {
  background-color: rgba(128, 128, 128, 0.205);
  height: 400px;
  width: 500px;
  padding: 10px;
  font-size: 18px;
}
form input,
textarea {
  width: 100%;
  border-top: none;
  border-bottom: 1px solid #0000;
  border-left: none;
  border-right: none;
  background-color: rgba(128, 128, 128, 0.507);
  color: white;
}
form input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.89);
}
#input-field {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.send-btn {
  width: 100px;
  border: none;
  padding: 6px 0;
  background-color: var(--textclr);
  border-radius: 50px;
  font-size: 16px;
  color: var(--backgroundclr);
}
#links {
  position: relative;
  top: 5%;
  margin: 0;
  padding: 0;
}
:root /*The default settings for the color scheme:dark mode is what I was going for*/ {
  --clr-light: rgba(255, 255, 255, 0.726);
  --clr-dark: hsla(240, 31%, 5%, 0.76);

  --backgroundclr: var(--clr-dark);
  --textclr: var(--clr-light);
}
img {
  display: inline-block;
  width: 10%;
  margin-bottom: 5%;
}
.lightMode  /*LET THERE BE LIGHT ~The one and only */ {
  --clr-light: hsla(0, 0%, 100%, 0.829);
  --clr-dark: hsla(240, 31%, 5%, 0.76);

  --backgroundclr: var(--clr-light);
  --textclr: var(white);
}

@media only screen and (max-width: 600px) and (orientation: portrait) /*Responsive Design for mobile devices (phones) or small screen devices*/ {
  header {
    border-radius: 5%;
    border-style: solid;
    border-color: white;
    margin: 0;
    width: 98%;
  }
  html {
    font-size: 62.5%;
  }
  .navbar ul li {
    font-size: 1.1rem;
    padding-bottom: 3%;
  }
  .text {
    border-width: 3px;
    font-size: 15px;
    width: 45%;
    animation: typing 4s steps(20), cursor 0.7s step-end infinite alternate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    transition-delay: 0.8s;
  }
  #About {
    font-size: 1rem;
  }
  p {
    font-size: 1.2rem;
  }
  .ImageGallery {
    width: auto;
  }
  .Content {
    text-align: center;
    padding: 0;
    padding-bottom: 15%;
    left: 0px;
    border-radius: 0px;
    margin: 0px;
    width: 98%;
  }
  #Content {
    font-size: 1.7rem;
  }
  #Contact {
    position: relative;
    padding: 0;
    left: 0px;
    border-radius: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 980px) /*Responsive settings for For PC,
  Laptop and other big screen devices*/ {
  .navbar a:hover {
    transform: scale(2);
  }
  .Content:hover {
    animation-duration: 0s;
    transform: scale(1.5);
    color: blue;
    font-size: 1.5rem;
  }
  #AI,
  #Phone,
  #Car,
  #Flower {
    filter: grayscale(1.2);
  }
  #AI:hover,
  #Phone:hover,
  #Car:hover,
  #Flower:hover {
    filter: none;
  }
  .send-btn:hover {
    transform: scale(1.2);
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .text {
    width: 50vw;
  }
}
